<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.java.DeleteAccount"/>
      <class name="test.java.JoinAccount"/>
      <class name="test.java.Func_01_Home_Gnb"/>
      <class name="test.java.Func_02_Home_Middle"/>
      <class name="test.java.Func_03_Home_Footer"/>
      <class name="test.java.Func_04_InGame"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
